/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

::selection { color: #333; background: white; }
::-moz-selection {color:red;background:yellow;}

html {
    font-size: 24pt;
    line-height: 1.4em;
    
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==============
MOBILE: Main
============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 32pt;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
ALL: IE Fixes
=============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

h1, h2, h3 {
    font-family: 'Roboto Slab';
    font-weight:normal;
}


body {
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    position:relative;
    color: white;
    background-color: #232323;
}

.header-container {
    position: fixed; 
    width: 100%;
    top: 0;
}

.animate {
    *transition: all 0.3s;
}

article {
    width: 94%;
    height: 100%;
    position:fixed;
    padding: 20px 3%;
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    font-size: 16pt;
    overflow:hidden;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
}

article:hover:before {
    position: absolute;
    top: 0px;
    left: -2px;
    width: 100%;
    content: '';
    height: 100px;
    opacity: 0.3;
    cursor: pointer;
    border: 2px solid white;
    border-bottom: 0px;
    border-radius: inherit;
}

article p {
    text-align: center;
}

.title {
    width: 100%;
    text-align: center;
    font-size: 32pt;
    line-height: 1.2em;
    margin: 0;
}

h2 {
    width: 60%;
    text-align: center;
    margin: 3% 20%;
}

nav {
    width: 90%;
    padding: 5%;
}

nav ul {
    margin:0;
    padding: 0;
}

nav li {
    position: relative;
}

nav a {
    color: inherit;
    width: 29%;
    font-size: 14pt;
    padding: 4% 1% !important;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    float: left;
    background: #555;
    transition: all 0.3s;
    border-radius: 3px;
}

nav a:hover {
    box-shadow: 0px 2px 0 rgba(255,255,255,0.5) inset;
    -webkit-transform: scale(1.05);
}
.article-inner{
    height: 65%;
    overflow: hidden;
    position:relative;
}
table {
    table-layout: fixed;
    margin: 0 auto;
    vertical-align: top;
}

.experience-container {
    display: inline-block;
    vertical-align: top;
    margin: 1% 2%;
    width: 29%;
}

@media only screen and (max-width: 1280px) {
    .experience-container {
        width: 44%;
    }
}

@media only screen and (max-width: 800px) {
    .experience-container {
        width: 94%;
    }
    .experience-table {
        width: 100%;
    }
}

thead td {
    text-align: center;
}

table td {
    padding: 0.35em;

}
@media only screen and (max-width: 640px) {
    nav a {
        width: 46%;
    }
}
@media screen and (min-aspect-ratio: 16/8) {
    nav a {
        width: 14.5%;
        padding: 3% 0 !important;
    }
}

body > article:nth-child(7) {
    background-color: #232323;
}
body > article:nth-child(6) {
    background-color: #C8385A;
}
body > article:nth-child(5) {
    background-color: #EBB942;
}
body > article:nth-child(4) {
    background-color: #55C44A;
}
body > article:nth-child(3) {
    background-color: #1FCECB;
}
body > article:nth-child(2) {
    background-color: #1CA9C9;
}

/* PROGRESS BAR */

progress {
	width: 200px;
	height: 1.2em;
    margin-top: 
	display: block;
	/* Important Thing */
	-webkit-appearance: none;
	border: none;
}

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
	background: rgba(0,0,0,0.5);
	border-radius: 5px;
	padding: 2px;
}

/* Now the value part */
progress::-webkit-progress-value {
	border-radius: 3px;
    background: white;
}


/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
    INTERMEDIATE: Menu
    ==================== */

    /* ========================
    INTERMEDIATE: IE Fixes
    ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    /* ============
    WIDE: Menu
    ============ */

    .title {
        float: left;
    }

    /* ============
    WIDE: Main
    ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}
/* ==========================================================================
Helper classes
========================================================================== */
https://www.google.nl/maps/search/Wiezenmoeder/@51.983541,5.894282,18z
    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        *text-indent: -9999px;
    }

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}