/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

::selection { color: white; background: white; }
::-moz-selection {color: white;background: white;}

html {
    font-size: 24pt;
    line-height: 1.4em;

}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

a {
    color: white;
}
a:visited {
    color: #999;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ==============
MOBILE: Main
============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 32pt;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
ALL: IE Fixes
=============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

h1, h2, h3 {
    font-family: 'Roboto Slab';
    font-weight:normal;
}


body {
    font-family: 'Roboto';
    -webkit-font-smoothing: antialiased;
    position:relative;
    color: white;
    background-color: #232323;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.3);
}
header {
    position: relative;
}
.help-container {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    display: inline-block;
    
}

.help-notifier {
    border-bottom: 1px dotted white;
    opacity: 0.6;
    cursor: help;
}


.touch .help-touch{
    display: block;
}


.no-touch .help-desk{
    display: block;
}

.help {
    background: #eee;
    margin: 2% 1%;
    padding: 3%;
    color: #333;
    border-radius: 3px;
    width: 82%;
    position: absolute;
    opacity: 0;
    top: 90%;
    transition: all 1s;
    display: none;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.3);
}

.help-container:hover .help{
    opacity: 1;
    top: 100%;
    transition: all 1s;

}

.help:before {
    content: '';
    position: absolute;
    top: -19px;
    left: 50%;
    margin-left: -5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid #eee;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}

.header-container {
    position: fixed; 
    width: 100%;
    top: 0;
}

.animate {
    *transition: all 0.3s;
}

article {
    width: 94%;
    height: 100%;
    position:fixed;
    padding: 20px 3%;
    border-top-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
    font-size: 16pt;
    overflow:hidden;
}

article:hover:before {
    position: absolute;
    top: 0px;
    left: -2px;
    width: 100%;
    content: '';
    height: 100px;
    opacity: 0.3;
    cursor: pointer;
    border: 2px solid white;
    border-bottom: 0px;
    border-radius: inherit;
}

article p {
    text-align: center;
}

.title {
    width: 80%;
    text-align: center;
    font-size: 32pt;
    line-height: 1.2em;
    margin: 0;
    margin-left: 10%;
    margin-top:0.2em;
    text-shadow: 2px 2px black;
}

h2 {
    width: 60%;
    text-align: center;
    margin: 1% 20% 3%;
    line-height: 1.1em;
}

nav {
    width: 90%;
    padding: 0% 5%;
    position:relative;
}

nav ul {
    margin:0;
    padding: 0;
}

nav li {
    position: relative;
}

nav a {
    color: inherit;
    width: 29%;
    font-size: 14pt;
    padding: 4% 1% !important;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    float: left;
    background: #555;
    transition: all 0.3s;
    border-radius: 3px;
    font-family: "Roboto Slab";
}

nav a:hover {
    box-shadow: 0px 2px 0 rgba(255,255,255,0.5) inset;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    transform: scale(1.05);
}
.article-inner{
    height: 65%;
    overflow: hidden;
    position:relative;
}
.touch . article-inner {
    overflow: auto;
    overflow-x: hidden;
}

.touch .ps-scrollbar-x-rail, .touch .ps-scrollbar-y-rail {
    display: none !important;
}

table {
    margin: 0 auto;
    vertical-align: top;
}

.experience-container {
    display: inline-block;
    vertical-align: top;
    margin: 0 2%;
    width: 29%;
}

.experience-table {
    width: 100%;
}

.experience-table progress{
    display:inline-block;
    text-align: right;
}

@media only screen and (max-width: 1280px) {
    .experience-container {
        width: 44%;
    }

}

@media only screen and (max-width: 800px) {
    .experience-container {
        width: 96%;
        margin: 0;
    }
}

thead td {
    text-align: center;
}

table td {
    padding: 0.35em;

}
@media only screen and (max-width: 640px) {
    nav a {
        width: 46%;
    }
}
@media screen and (min-aspect-ratio: 16/8) {
    nav a {
        width: 14.5%;
        padding: 3% 0 !important;
    }
}

article.contact {
    background-color: #232323;
}
article.talen {
    background-color: #1CA9C9;
}
article.relevantekennis {
    background-color: #1FCECB;
}
article.werkervaring {
    background-color: #55C44A;
}
article.opleidingen {
    background-color: #EBB942;
}
article.personalia {
    background-color: #C8385A;
    
}

/* PROGRESS BAR */

.experience-meter {
    width: 200px;
    height: 26px;
    display: block;
    border: none;
    color: white;
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
    padding: 1px;
    position:relative;
}

/* Now the value part */
.experience-meter .meter-value {
    border-radius: 3px;
    background: white;
    position:absolute;
    top: 4px;
    left: 4px;
    height: 20px;
    width: 196px;
    color: transparent;
    text-shadow: none;
}


/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 480px) {

    /* ====================
    INTERMEDIATE: Menu
    ==================== */

    /* ========================
    INTERMEDIATE: IE Fixes
    ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
}

@media only screen and (min-width: 768px) {

    /* ============
    WIDE: Menu
    ============ */

    .title {
        float: left;
    }

    /* ============
    WIDE: Main
    ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}
/* ==========================================================================
Helper classes
========================================================================== */
https://www.google.nl/maps/search/Wiezenmoeder/@51.983541,5.894282,18z
    .ir {
        background-color: transparent;
        border: 0;
        overflow: hidden;
        *text-indent: -9999px;
    }

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
   
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
        display: block !important;
        opacity: 1 !important;
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
    }
    
    script {
        display:none !important;
    }
    
    html,body {
        width: 210mm !important;
        float:none !important;
    }
    .header-container {
        position:relative !important;
    }
    
    nav {
        display: none !important;
    }
    .experience-container{
        display: inline-block !important;
        width: 28% !important;
    }
    .experience-meter {
        background: black !important;
    }
    .meter-value {
        background: white !important;
    }
    
    article {
        display: block;
        position: relative;
        height: auto !important;
        top: auto !important;
        float:none !important;
        page-break-inside: avoid;
        page-break-after: always;
    }
    
    @media (-webkit-min-device-pixel-ratio:0) { 
    .meter-value {
        color: transparent !important;
    }
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }
    
    table {
        width: 100% !important;
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
