.gradient-powerassist {
    background: radial-gradient(ellipse at bottom left, rgb(77, 172, 222) 0%,rgb(84, 64, 154) 50%); 
    background-size: 200% 100%;
}

.gradient-tygers {
    background: radial-gradient(
        ellipse at bottom left,
        rgb(34,170,129) 0%,
        rgb(56, 111, 154) 50%
    );
    background-size: 200% 100%;
}

.gradient-han {
    background: radial-gradient(ellipse at bottom left, rgb(186, 232, 255) 10%, rgb(255, 255, 255) 40%,rgb(255, 94, 118) 100%);
    background-size: 200% 100%;
}

.gradient-bioprodict {
    background: radial-gradient(
        ellipse at bottom left, 
        #b2bdff 0%,
        #f3ffb3 100%
    ); 
    background-size: 200% 100%;
}

.gradient-bioprodict-pro {
    background: radial-gradient( ellipse at top left, #173d6f 0%, #4f94ff 100%);
    background-size: 200% 100%;
}

.gradient-bioprodict-bar {
    background: radial-gradient(
        ellipse at top left, 
        #aeeb4b 0%,
        #70b710 100%
    ); 
    background-size: 200% 100%;
}

.gradient-bioprodict-bar-sub {
    background: radial-gradient(
        ellipse at top left, 
        #62a5f4 0%,
        #4780dd 100%
    ); 
    background-size: 200% 100%;
}


.gradient-keygene {
    background: radial-gradient(
        ellipse at bottom left, 
        #e1ff3a 0%,
        #8ab710 100%
    ); 
    background-size: 100% 100%;
}

.gradient-edx {
    background: radial-gradient(ellipse at bottom right, rgb(186, 232, 255) 20%, #fff 60%,rgb(255, 94, 118) 100%);
    background-size: 100% 100%;
}

.gradient-delftx {
    background: radial-gradient(ellipse at bottom right, rgb(186, 232, 255) 20%, #fff 100%);
    background-size: 100% 100%;
}

.gradient-paper {
    background: radial-gradient(
        ellipse at top left, 
        #440154, #482475, #414487, #355f8d, #2a788e, #21908d, #22a884, #42be71, #7ad151, #bddf26, #bddf26
    ); 
    background-size: 100% 100%;
}
.gradient-paper * { color: white; }

.gradient-bot-tooltip {
    background: radial-gradient(
        ellipse at top left, 
        #140019, #1c0e2e, #1b1c38, #1c3249, #133742, #0d3a38, #0e4436, #205f38, #3c6927, #697b14, #748c07
    ); 
    background-size: 100% 100%;
}
