html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

ul.chevron-list li {
    list-style-type: none;
    line-height: 1.3em;
    padding-left: 1.0em;
    padding-right: 0.5em;
    text-indent: -1.0em; 
}

ul.chevron-list li:before {
    content: '\00BB \0020';
    font-weight: bold;
    font-size: 140%;
}

h1 {
    font-family: Dosis;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,0.6);
    text-shadow: 1px 1px white;
}

h2, h3, h4 {
    font-family: Dosis;
    font-weight: bold;
    padding: 0;
    padding-left: 20px;
    margin: 1em 0em;
    color: rgba(0,0,0,0.6);
    text-shadow: 1px 1px white;
    clear: both;
}

h3 {
    font-size: 1.2em;
}

nav {
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
    font-family: Dosis;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

nav .logo {
    display: inline-block;
    border: 2px solid black;
    padding: 5px;
    margin: 20px 20px;
    cursor: pointer;
    color: black;
    transition: background 0.2s;
}

nav .logo:hover {
    background: rgba(0, 0, 0, 0.1);
}

nav ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    padding-left: 20px;
}

nav li {
    display: inline-block;
    margin-bottom: 20px;
}
nav li > a {
    padding : 20px 10px;
    color: black;
    transition: background 0.2s;
}

nav a:hover {
    background: rgba(0,0,0,0.05);
    
}

header {
    background: rgb(214, 230, 255);
    border-bottom: 1px solid #d6d6d6;
}

.internal-wrapper {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

.header-card {
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.header-annotation { 
    padding: 20px;
    width: 480px;
    display: inline-block;
    vertical-align: top;
}

.header-tags {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    width: 480px;
}

.header-tags li {
    display: inline-block;
    margin: 0px;
    font-size: 10px;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    cursor: default;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.profile-picture {
    max-width:100%;
    display: inline-block;
    position: relative;
    height: 250px;
    margin: 1.3em 0em 0em 1em;
}

.internal-wrapper p {
    line-height: 1.5;
}

.internal-wrapper img {
    max-width: 100%;
    max-height: 600px;
    margin: 0 auto;
    display: block;
}
.caption {
    display: block;
    width: calc(100% - 10px);
    font-size: 75%;
    text-align: center;
    padding: 0 5px;
}
blockquote {
    font-family: Serif;
    line-height: 1.7em;
    font-style: italic;
}

.profile-picture img {
    max-height: 100%;
}

.details p {
    padding: 0px 20px;
}

.details p em {
    background: rgb(214, 230, 255);
    font-style: normal;
    border-radius: 5px;
    padding: 2px;
    
}

.internal-wrapper > h1 {
    padding: 20px 0px 20px 20;
    text-transform: uppercase;
}

h1 > a {
    color: silver;
    font-size: 0.5em;
    position: relative;
    top: -0.25em;
}

hr {
    border: 0;
    margin: 0;
    border-top: 2px solid black;
}

a { 
    color: blue;
    text-decoration: none;
}

.card-collection {
    margin: 0 auto;
}

.card-collection .card-wrapper {
    margin: 13px;
}

.card-collection .card {
    width: 150px;
    height: 210px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Video */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
    box-shadow: 0px 10px 50px rgba(0,0,0, 0.2);
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Card */


.card-wrapper {
    transition: transform 0.5s;
    display: inline-block;
}

.card {
    width: 210px;
    height: 297px;
    background: #d6773b;
    position: relative;
    padding: 10px;
    display: inline-block;
    pointer-events: none;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.5s;
    box-shadow: 0px 10px 50px rgba(0,0,0, 0.2);
}

.card-wrapper:hover {
    transform: scale(1.025);
}

.glare {
    transition: transform 0.5s;
    position: absolute;
    top: -50px;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    float: left;
    opacity: 0.5;
    background: radial-gradient(ellipse at top center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%);
}

.card img {
    max-width: 100%;
    margin-top: 50%;
}

@media screen and (max-width:800px){
    .internal-wrapper {
        width: 100%;
    }
    
    .header-annotation {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
    .header-card {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 20px 0 0 0;
        position: relative;
    }
    .card {
        width: 130px !important;
        height: 190px !important;
    }
    
    .header-card .post-name i {
        font-size: 150% !important;
        margin-left: -15pt !important;
    }
    
}

img.certificate {
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
    border-radius: 5px;    
    transition: all 0.2s;
    transform: scale(0.9)
}

img.certificate:hover {
    transform: translateY(-5px);
    box-shadow: 0px 5px 15px rgba(0,0,0,0.1);
    transition: all 0.2s;
}

img.certificate.certificate-small {
    width: 32.3%;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}

/* Skill bars */

.skills-used {
    padding: 0px 20px 20px 20px;
}

.skills-used table {
    width: 100%;
}
.skills-used tr {
    height: 2.5em;
}
.skills-used table tr td:last-child {
    width: 70%;
}

.skill-bar-outer {
    width: 100%;
    padding: 0.25em;
    height: 1.0em;
    border-radius: 0.75em;
    position: relative;
}

.skill-bar-inner-back {
    top: 0px;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 0.1em;
    background: white;
    height: 100%;
    position: relative;
    border-radius: 1em;
}
.skill-bar-inner-fill {
    max-width: 80%;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 0.75em;
}

.post-name {
    font-family: Dosis;
    color: black;
    font-size: 20pt;
    text-align: center;    
}

.post-name i {
    font-size: 200%;
    margin: 0.3em;
    display: block;
    bottom: 0.5em;
    position: absolute;
    left: 50%;
    margin-left: -20pt;
    
}

.header-card .post-name i {
    font-size: 300%;
    margin-left: -30pt;
}

.bot-tooltip-link {
    text-decoration: underline dashed;
    vertical-align: super;
    font-size: 50%;

}

.bot-tooltip {
    background-color: rgb(0, 49, 89);
    color: white;
    padding: 1em;
    font-size: 80%;
    border-radius: 5px;
    display: none;
}

.bot-tooltip .exit {
    float: right;
    background: white;
    color: black;
    border-radius: 50%;
    width: 1.35em;
    height: 1.35em;
    text-align: center;
    font-size: 125%;
    opacity: 0.8;
    cursor: pointer;
}

.bot-tooltip > i {
    font-size: 75%;
    opacity: 0.8;
}

.bot-tooltip .prompt {

}


.skill-bar-inner-fill{
  animation: animationFrames ease-in-out 3s;
  animation-iteration-count: 1;
  transform-origin: 50% 50%;
  -webkit-animation: animationFrames ease-in-out 3s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 50%;
  -moz-animation: animationFrames ease-in-out 3s;
  -moz-animation-iteration-count: 1;
  -moz-transform-origin: 50% 50%;
  -o-animation: animationFrames ease-in-out 3s;
  -o-animation-iteration-count: 1;
  -o-transform-origin: 50% 50%;
  -ms-animation: animationFrames ease-in-out 3s;
  -ms-animation-iteration-count: 1;
  -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames{
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}