body {
    background: white;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

ul.chevron-list li {
    list-style-type: none;
    line-height: 1.3em;
    padding-left: 1.0em;
    text-indent: -1.0em; 
}

ul.chevron-list li:before {
    content: '\00BB \0020';
    font-weight: bold;
    font-size: 140%;
}

h1 {
    font-family: Dosis;
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: rgba(0,0,0,0.6);
    text-shadow: 1px 1px white;
}

h2 {
    font-family: Dosis;
    font-weight: bold;
    padding: 0;
    padding-left: 20px;
    margin: 1em 0em;
    color: rgba(0,0,0,0.6);
    text-shadow: 1px 1px white;
}

nav {
    background: #fff;
    border-bottom: 1px solid #d6d6d6;
    font-family: Dosis;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
}

nav .logo {
    display: inline-block;
    border: 2px solid black;
    padding: 5px;
    margin: 20px 20px;
    cursor: pointer;
    color: black;
    transition: background 0.2s;
}

nav .logo:hover {
    background: rgba(0, 0, 0, 0.1);
}

nav ul {
    padding: 0;
    margin: 0;
    display: inline-block;
    padding-left: 20px;
}

nav li {
    display: inline-block;
    margin-bottom: 20px;
}
nav li > a {
    padding : 20px 10px;
    color: black;
    transition: background 0.2s;
}

nav a:hover {
    background: rgba(0,0,0,0.05);
    
}

header {
    background: rgb(214, 230, 255);
    border-bottom: 1px solid #d6d6d6;
}

.internal-wrapper {
    width: 800px;
    position: relative;
    margin: 0 auto;
}

.header-card {
    padding: 20px;
    display: inline-block;
    vertical-align: top;
}

.header-annotation { 
    padding: 20px;
    width: 480px;
    display: inline-block;
    vertical-align: top;
}

.header-tags {
    margin: 0;
    padding: 0;
    display: inline-block;
    vertical-align: bottom;
    width: 480px;
}

.header-tags li {
    display: inline-block;
    margin: 0px;
    font-size: 10px;
    margin-right: 5px;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    cursor: default;
    border-bottom: 1px solid rgba(0,0,0, 0.2);
}

.profile-picture {
    max-width:100%;
    display: inline-block;
    position: relative;
    height: 300px;
}
.profile-picture img {
    max-height: 100%;
}
.profile-picture:after {
    width: 70%;
    height: 100%;
    background: linear-gradient(to right, rgba(214, 230, 255, 0) 80%, rgba(214, 230, 255, 1) 80%);
    position: absolute;
    top: 0;
    right: 0;
    content: '';
}

.details p {
    padding-left: 20px;
}

.internal-wrapper > h1 {
    padding: 20px 0px 20px 20;
    text-transform: uppercase;
}

h1 > a {
    color: silver;
    font-size: 0.5em;
    position: relative;
    top: -0.25em;
}

hr {
    border: 0;
    margin: 0;
    border-top: 2px solid black;
}

a { 
    color: blue;
    text-decoration: none;
}

.card-collection {
    margin: 0 auto;
}

.card-collection .card-wrapper {
    margin: 13px;
}

.card-collection .card {
    width: 150px;
    height: 210px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
}

/* Video */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    overflow: hidden;
    box-shadow: 0px 10px 50px rgba(0,0,0, 0.2);
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Card */


.card-wrapper {
    transition: transform 0.5s;
    display: inline-block;
}

.card {
    width: 210px;
    height: 297px;
    background: #d6773b;
    position: relative;
    padding: 10px;
    display: inline-block;
    pointer-events: none;
    border-radius: 5px;
    overflow: hidden;
    transition: transform 0.5s;
    box-shadow: 0px 10px 50px rgba(0,0,0, 0.2);
}

.card-wrapper:hover {
    transform: scale(1.025);
}

.glare {
    transition: transform 0.5s;
    position: absolute;
    top: -50px;
    width: 300px;
    height: 200px;
    margin: 0 auto;
    float: left;
    opacity: 0.5;
    background: radial-gradient(ellipse at top center,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 70%);
}

.card img {
    max-width: 100%;
    margin-top: 50%;
}

@media screen and (max-width:800px){
    .internal-wrapper {
        width: 100%;
    }
    
    .header-annotation {
        display: block;
        box-sizing: border-box;
        width: 100%;
    }
    .header-card {
        margin: 0 auto;
        width: 100%;
        text-align: center;
        padding: 20px 0 0 0;
        position: relative;
    }
}
