body, html {
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	font-family: Roboto, sans-serif;
	font-weight: 300;
	color: #333;
}

b {
	font-weight: 500;
}

#canvas-container {
	width: 100%;
	height: 33%;
	overflow: hidden;
	position: fixed;
	z-index: 1;
}

#canvas-container:after {
	content: '';
	position:absolute;
	top: -10px;
	left: -10px;
	padding: 10px 10px 0px 10px;
	height: 100%;
	width: 100%;
	box-shadow: inset 0 0px 10px  0px rgba(0,0,0,0.2);
	z-index: 100;
}

canvas {
	z-index: 10;
	position: absolute;
	bottom:0;
}

#background {
	width: 100%;
	height: 100%;
}

#content {
	width: 60%;
	background: white;
	display: block;
	position: relative;
	z-index: 20;
	padding: 16px;
	top: 100px;
	margin: 0 auto;
	margin-bottom: 40px;
	border-radius: 2px;
	box-shadow: 0px 4px 20px rgba(0,0,0,0.2);
}

@media screen and (max-width: 1280px){
	#content {
		width: 70%;
	}
}

@media screen and (max-width: 1024px){
	#content {
		width: 80%;
	}
}


h1, h2 {
	margin: 0;
	padding: 0;
	font-weight: 300;
}

#title {
	font-size: 32pt;
	letter-spacing: -1px;
	text-align: right;
	position: relative;
	width: 100%;
	background: linear-gradient(to bottom, rgba(255,255,255,1) 50%,rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%);
	margin: 0 auto;
	z-index: 10;
	padding: 20px 0;
}

@media screen and (max-width: 768px){
	h1, h2 {
		font-size: 24pt !important;
	}
}

article {
	background: #f9f9f9;
	margin: 15px 0;
	padding: 15px;
	padding-top: 20px;
	overflow: hidden;
	position: relative;
	z-index: 5;
	border-radius: 2px;
	padding-bottom: 54pt;
	transition: all 0.5s;
	box-shadow: 0 0 0 rgba(0,0,0,0.5);
}

article:before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	height: 8px;
	width: 100%;
	opacity: 0.2;
	background: black;
	transition: all 0.4s;
}

article:hover {
	/*transform: scale(1.01);*/
	transition: all 0.4s;
	transform: translateY(-4px);
	box-shadow: 0 4px 2px rgba(0,0,0,0.2);
}

article:hover:before {
	opacity: 0.4;
	transition: all 0.4s;
}

.experience-container {
	width: 29%;
	display: inline-block;
	vertical-align: top;
	margin: 1.5%;
}

@media screen and (max-width: 1024px){
	.experience-container  {
		width: 45%;
	}
}

@media screen and (max-width: 640px){
	.experience-container  {
		width: 97%;
	}
}

.experience-container thead {
	text-align:center;
	width: 100%;
}

article h2 {
	right: 16px;
	font-size: 32pt;
	position: absolute;
	bottom: 16px;
	opacity: 0.5;
}

h3 {
	font-weight:500;
}

/* Video */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Article colors */

article.red:before {
	background-color: red;
}
article.orange:before {
	background-color: orange;
}
article.yellow:before {
	background-color: yellow;
}
article.green:before {
	background-color: green;
}
article.blue:before {
	background-color: blue;
}
article.purple:before {
	background-color: purple;
}

table tr td:first-child {
	padding-right: 1em;
}

.experience-container tr td:nth-child(1) {
	width:50%;
}

.experience-container tr td:nth-child(2) {
	width: 100px;
	text-align: right;
}

.experience-meter {
	width:100%;
	height: 11px;
	background: white;
	border: 2px solid #999;
	padding: 2px;
	position: relative;
	border-radius: 10px;
	display: inline-block;
}

.experience-meter .meter-value {
	background: #999;
	height: 100%;
	border-radius: 6px;
}
